<section class="py-6 subscribe">
  <h2>Subscribe to updates</h2>
  <form action="{{ subscribe.action }}" method="post">
    <div class="flex content-start">
      <div class="text-base relative text-left is-expanded flex-grow -mr-px last:mr-0">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="appearance-none items-center inline-flex text-base text-black h-9 justify-start py-1.5-px px-2.5-px relative align-top w-full max-w-full shadow-none border border-grey hover:border-dark-grey focus:border-primary active:border-primary focus:outline-none active:outline-none placeholder:text-grey">
      </div>
      <div class="text-base relative text-left">
        <input
          type="submit"
          value="Subscribe"
          class="button is-primary">
      </div>
    </div>
  </form>
  <p>We will never share your address.</p>
</section>